@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px !important;
}

.form__inputs {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 375px) {
  .form__inputs {
    display: flex;
    gap: 1rem;
    flex-flow: column wrap;
  }
}
.map-box {
  height: 300px;
}

@media screen and (max-width: 375px) {
  .map-box {
    height: 200px;
  }
}
.title-box {
  display: flex;
  align-items: start;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.title-box h1 {
}
@media screen and (max-width: 375px) {
  .title-box {
    flex-flow: column wrap;
    align-items: start;
    justify-content: flex-start;
  }
}

.PlacesAutocomplete {
  position: absolute;
  top: 10px;
  left: 10px;
}

.combobox-input {
  height: 1rem;
  width: 11rem;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.combobox-input:focus {
  border: 2px solid #1976d2;
}

[data-reach-combobox-popover] {
  border-radius: 5px;
}

[data-reach-combobox-option]:not(:last-child) {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.error {
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.css-1yhpg23-MuiTableCell-root {
  padding: 8px !important;
}

.modal-container {
  width: 500px;
}

@media screen and (max-width: 550px) {
  .modal-container {
    width: 360px;
  }
}
@media screen and (max-width: 375px) {
  .modal-container {
    width: 200px;
  }
}
