@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px !important;
}

.form__inputs {
  display: flex;
  gap: 1rem;
}

.PlacesAutocomplete {
  position: absolute;
  top: 10px;
  left: 10px;
  /* transform: translateX(-50%); */
}

.combobox-input {
  height: 1rem;
  width: 11rem;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.combobox-input:focus {
  border: 2px solid #1976d2;
}

[data-reach-combobox-popover] {
  border-radius: 5px;
}

[data-reach-combobox-option]:not(:last-child) {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.error {
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

/* .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.loading img {
  width: 300px;
} */

.css-1yhpg23-MuiTableCell-root {
  padding: 8px !important;
}
